

h1 {
    background-color: steelblue;
    padding: 50px 10px; /*vertical horizontal*/
    border: skyblue 10px solid;
    color: white
}

h2 {
    background-color: skyblue;
    padding: 30px 10px; /*vertical horizontal*/
    color: white;
    border: steelblue 10px solid;
    margin: 300px 30px
}

p {
    font-size: medium;
    font-style: italic;
    background-color: steelblue;
    padding: 20px;
    color: white;
    border: skyblue 10px solid;
    margin: 20px;
}
 