body {
    
    color: whitesmoke;
}

h1 {
    background-color: teal;
    padding: 50px 10px; /*vertical horizontal*/
    border: skyblue 10px solid;
}

h2 {
    background-color: skyblue;
    padding: 30px 10px; /*vertical horizontal*/
    color: white;
    border: aqua 10px solid;
}

p {
    font-size: medium;
    font-style: italic;
    background-color: aqua;
    padding: 20px;
    color: gray;
    border: teal 10px solid;
}
 